*{
    margin: 0;
    padding:0;
    width:100%;
    height: 85%;
    overflow-y:hidden;
}
body{
    background-attachment: fixed;
}
.logo {
    width:50px;
    height:50px;
    padding:5px;
}
.contButton{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    height: 70px;
    text-align: left;
    z-index: 0;
    align-items: center;
    width: 100%;
}

.btn{
    display: inline-block;
    margin: 10px;
    width: 180px;
    font-family: Tahoma, Arial, Calibri, Calibri;
    cursor: pointer;
    background-color: transparent;
    color: #FFFFFFFF;
    border-color: #000000FF;
    font-size: 16px;
    font-weight: bold;
}
.btn:hover{
    background-color: #777da4;

}
.btn a{
    text-decoration: none;
    color: #FFFFFFFF;
}
.welcome{
    display: flex;
    justify-content: center;
    font-family: Tahoma, Arial, Calibri, Calibri;
}

.logo2 {
    width:50px;
    height:50px;
    padding:5px;
    }